* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: black;
	height: 100%;
	background-image: url(assets/qbkls.png);
}

.navbar {
	padding: 20px 0;
}

.navbar-brand {
	font-weight: 25;
	background-color: lightskyblue;
}

footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	padding: 5px;
	text-align: center;
}

.container {
	max-width: 960px;
	width: 100%;
	background-color: slategray;
	opacity: 0.8;
}

@media screen and (max-width: 980px) {
	body {
		background-color: blue;
	}
}

@media screen and (max-width: 768px) {
	body {
		background-color: red;
	}
}

@media screen and (max-width: 640px) {
	body {
		background-color: yellow;
	}
}